.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    // tous les éléments formeront une ligne en utilisant la taille de leur contenu.
  }
}

.logo {
  width: 1.5vw;
  height: 15px;
  margin: -2.5px;
}
